<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>TODO-GO</title>
</head>
<body>
    <div class="container">
        <h1>TODO-LIST</h1>
        <h3>created by storyteller23</h3>
        <form action="/add" method="post" class="form-group">
            <input class="form-control form-control-lg" type="text" name="title" required="required" placeholder="Title">
            <input type="submit" class="btn btn-primary" value="Add">
            
        </form>
        <br><br>
        <h4 >Uncompleted tasks</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Title</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            {{ range .UncompletedTasks }}
            <tr>
              <th scope="row">Date</th>
              <td>{{ .Title }}</td>
              <td>
                <form action="/complete/{{ .Id }}" method="post">
                  <input type="submit" value="Complete" class="btn btn-success">
                </form>
                <form action="/delete/{{ .Id }}" method="post">
                  <input type="submit" value="Delete" class="btn btn-danger">
                </form>

              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
        <br><br>

        <h4 >Completed tasks</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Title</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            {{ range .CompletedTasks }}
            <tr>
              <th scope="row">Date</th>
              <td>{{ .Title }}</td>
              <td>
                <form action="/delete/{{ .Id }}" method="post">
                  <input type="submit" value="Delete" class="btn btn-danger">
                </form>

              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
    </div>
</body>
</html>